* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
}

.cont {
  max-width: 1704px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.burger_menu {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  gap: 5px;
  z-index: 2;
}
.burger_menu .br {
  width: 25px;
  height: 2px;
  background-color: rgb(45, 45, 43);
  transition: all 0.3s ease;
}
.burger_menu.open {
  z-index: 77;
}
.burger_menu.open .top {
  transform: translateY(8px) rotate(45deg);
}
.burger_menu.open .beetwen {
  opacity: 0;
}
.burger_menu.open .bottom {
  transform: translateY(-8px) rotate(-45deg);
}

@media (max-width: 767px) {
  .burger_menu {
    display: flex;
  }
}
.head.active {
  margin-top: 30px;
  top: 0;
  width: 100%;
  height: 100vh;
  left: 0;
  z-index: 6;
}
.head_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 11px;
}
.head_header_left {
  display: flex;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 8px;
}
@media (max-width: 575px) {
  .head_header_left {
    flex-wrap: wrap;
    border: none;
  }
}
.head_header_left .active {
  border: 1px solid rgb(236, 172, 0);
  border-radius: 8px;
  color: rgb(236, 172, 0);
}
.head_header_left_item {
  padding: 10px;
  font-weight: 700;
  font-size: 14px;
  color: rgb(0, 0, 0);
  cursor: pointer;
}
.head_header_right {
  display: flex;
  align-items: center;
  gap: 58px;
}
@media (max-width: 575px) {
  .head_header_right {
    display: none;
  }
}
.head_header_right_payment {
  display: flex;
  align-items: center;
  gap: 6px;
}
.head_header_right_payment h3 {
  font-weight: 700;
  font-size: 14px;
  color: rgb(0, 0, 0);
  font-family: "Mulish", sans-serif;
}
.head_header_right_language {
  position: relative;
}
.head_header_right_language_items {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 500;
  font-size: 14px;
  color: rgb(0, 0, 0);
}
.head_header_right_language_items .icon {
  transition: transform 0.3s ease-in-out;
}
.head_header_right_language_items .rotate {
  transform: rotate(180deg);
}
.head_header_right_language_add {
  position: absolute;
}
.head_nav {
  display: flex;
  align-items: center;
  margin-top: 60px;
  flex-wrap: wrap;
}
@media (max-width: 767px) {
  .head_nav {
    flex-direction: column;
    position: fixed;
    top: -440px;
    background-color: rgb(50, 50, 50);
  }
}
.head_nav.active {
  z-index: 6;
  margin-top: 83px;
  top: 29px;
  left: 0;
  width: 100%;
  height: 100vh;
  transition: all ease 0.4s;
}
.head_nav_logo {
  flex: 1.2;
}
@media (max-width: 575px) {
  .head_nav_logo {
    flex: 0.8;
  }
}
.head_nav_navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 2;
}
@media (max-width: 767px) {
  .head_nav_navigation {
    flex-direction: column;
    justify-content: flex-start;
  }
}
.head_nav_navigation_form {
  position: relative;
  min-width: 146px;
}
.head_nav_navigation_form .search {
  position: absolute;
  left: 16px;
  top: 4px;
}
.head_nav_navigation_form_inp {
  max-width: 200px;
  width: 100%;
  padding: 7px 40px;
  border-radius: 8px;
  border: 1px solid rgb(243, 243, 243);
}
.head_nav_navigation_items {
  display: flex;
  list-style-type: none;
  align-items: center;
  gap: 22px;
}
@media (max-width: 767px) {
  .head_nav_navigation_items {
    flex-direction: column;
    margin-top: 21px;
    color: #fff;
  }
}
.head_nav_navigation_items_item {
  display: flex;
  align-items: center;
  gap: 3px;
}
.head_nav_navigation_items_item h4 {
  font-weight: 700;
  font-size: 14px;
  color: rgb(0, 0, 0);
}
@media (max-width: 767px) {
  .head_nav_navigation_items_item h4 {
    color: #fff;
  }
}
.head_nav_navigation_items_item_btn_button {
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  width: 150px;
  height: 36px;
  border: none;
  background-color: rgb(255, 204, 77);
  font-weight: 500;
  color: rgb(255, 255, 255);
}
.head_nav_navigation_items_item_btn_button_icon {
  top: 9px;
  left: 10px;
}

.line {
  height: 1px;
  width: 100%;
  background-color: rgb(228, 228, 228);
  margin-top: 25px;
}/*# sourceMappingURL=header.css.map */